.abouthero {
  display: flex;
  align-items: center;
  padding: 4rem 0;
}
.about-intro h3 {
  font-family: "Inter", sans-serif;
  font-size: 59.457px;
  font-style: normal;
  font-weight: 400;
  line-height: 74.4px; /* 125.132% */
  letter-spacing: -1.24px;
  background: linear-gradient(0deg, #a1aee5 0%, #ecf0ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 658.65px;
  height: 74px;
}
.create {
  color: #cad5ff;
  font-family: "Inter", sans-serif;
  font-size: 16.219px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px; /* 161.301% */
  letter-spacing: 0.4px;
  width: 579.73px;
  height: 55px;
  margin: 2rem 0;
}
.about-qrest {
  color: #a0aee5;
  font-family: "Inter", sans-serif;
  font-size: 16.281px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px; /* 169.573% */
  letter-spacing: 0.4px;
  width: 546.15px;
  height: 86px;
}
.about-button {
  width: 138px;
  padding: 10px;
  margin: 2rem 0;
  /* height: 55px; */
  flex-shrink: 0;
  border-radius: 56px;
  border: 1px solid rgba(161, 174, 229, 0.2);
  color: #c7cfef;
  background-color: #a1aee533;
}
.user {
  width: 309px;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 8rem;
  right: 6rem;
  padding: 10px 1rem 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}
.subscription {
  /* width: 309px; */
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 14rem;
  right: 16rem;
  padding: 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}
.personlized {
  width: 309px;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 19rem;
  right: 10rem;
  padding: 10px 1rem 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}
.graph {
  /* width: 309px; */
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 24rem;
  right: 8rem;
  padding: 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}
.third {
  width: 250px;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 31rem;
  right: 22rem;
  padding: 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}

@media screen and (max-width: 1280px) {
  .abouthero {
    height: 550px;
    flex-direction: column;
  }
  .about-intro {
    width: 100vw;
    padding: 0 1rem;
    /* border: 2px solid red; */
  }
  .about-intro h3 {
    font-size: 54px;
    line-height: 74.4px;
    width: 90vw;
    height: 74px;
  }
  .create {
    width: 95vw;
    height: 60px;
    margin: 0;
    /* border: 2px solid red; */
  }
  .about-qrest {
    width: 95vw;
    height: 90px;
  }
  .user,
  .subscription,
  .personlized,
  .graph,
  .third {
    position: static;
    visibility: hidden;
  }
}
@media screen and (max-width: 950px) {
  .abouthero {
    height: 550px;
    flex-direction: column;
  }
  .about-intro {
    width: 100vw;
    padding: 0 1rem;
    /* border: 2px solid red; */
  }
  .about-intro h3 {
    font-size: 34px;
    line-height: 30.4px;
    width: 90vw;
    height: 34px;
  }
  .create {
    width: 95vw;
    height: 100px;
    margin: 0;
  }
  .about-qrest {
    width: 95vw;
    height: 90px;
    /* border: 2px solid red; */
  }
  .user,
  .subscription,
  .personlized,
  .graph,
  .third {
    position: static;
    visibility: hidden;
  }
  .about-button {
    margin: 3.5rem 0;
  }
}
