.blog-button {
  border-radius: 56px;
  background-color: transparent;
  /* width: 138.06px; */
  /* height: 55px; */
  color: #c7cfef;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8rem 4rem 0;
}
.blog h2 {
  color: #c7cfef;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px; /* 100% */
}
.blog-display {
  display: flex;
  gap: 2rem;
}
.blog-card-title {
  display: flex;
  justify-content: space-between;
}
.blog-card-title h5,
.blog-card-title span {
  color: #a1aee5;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
  padding: 2rem 2rem 0;
}
.cardz {
  border-radius: 24px;
  background: #0e0b1c;
  width: 500px;
  padding-bottom: 0px;
}
.cardz:hover {
  width: 600px;
  transition: 1.5s;
}
.blog-card-text {
  padding: 2rem;
  color: #a1aee5;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.blog-button {
  margin: 0 2rem 1rem;
  border-radius: 48px;
  border: 1px solid #a1a1a1;
  background-color: transparent;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 950px) {
  .blog-container {
    margin: 0;
    /* border: 2px solid red; */
  }
  .blog-button {
    border-radius: 5px;
    /* width: 138.06px; */
    /* height: 55px; */
    font-size: 14px;
  }
  .blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8rem 0rem 0;
  }
  .blog h2 {
    font-size: 30px;
    line-height: 50px; /* 100% */
  }
  .blog-display {
    flex-direction: column;
  }
  .cardz {
    border-radius: 24px;
    background: #0e0b1c;
    width: 100%;
    padding-bottom: 0px;
    /* border: 2px solid red; */
  }
  .cardz:hover {
    width: 100%;
  }
  .blog-card-title h5,
  .blog-card-title span {
    font-size: 14px;
    padding: 2rem 1rem 0;
  }
  .blog-card-text {
    padding: 1rem;
    font-size: 25px;
  }
  .blog-button {
    margin: 0 1rem 1rem;
    border-radius: 5px;
    padding: 5px;
  }
}
@media screen and (max-width: 747px) {
  .blog-container {
    margin: 0;
  }
  .blog-button {
    border-radius: 5px;
    /* width: 138.06px; */
    /* height: 55px; */
    font-size: 14px;
  }
  .blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8rem 0rem 0;
  }
  .blog h2 {
    font-size: 30px;
    line-height: 50px; /* 100% */
  }
  .blog-display {
    flex-direction: column;
  }
  .cardz {
    border-radius: 24px;
    background: #0e0b1c;
    width: 90vw;
    padding-bottom: 0px;
  }
  .cardz:hover {
    width: 90vw;
    transition: 1.5s;
  }
  .blog-card-title h5,
  .blog-card-title span {
    font-size: 14px;
    padding: 2rem 1rem 0;
  }
  .blog-card-text {
    padding: 1rem;
    font-size: 25px;
  }
  .blog-button {
    margin: 0 1rem 1rem;
    border-radius: 5px;
    padding: 5px;
  }
}
