.brand h1 {
  color: #c7cfef;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px; /* 100% */
  margin: 2rem 0;
}
.brand-intro {
  display: flex;
  padding: 4rem 0;
}
.brand-service-pix {
  width: 625px;
  height: 460.6px;
  flex-shrink: 0;
  /* border: 2px solid red; */
}
.brand-service-user {
  width: 309px;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 18rem;
  right: 6rem;
  padding: 10px 1rem 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}
.brand-service-subscription {
  width: 309px;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 24rem;
  right: 16rem;
  padding: 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}
.brand-service-personlized {
  width: 309px;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 29rem;
  right: 10rem;
  padding: 10px 1rem 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}
.brand-service-graph {
  /* width: 309px; */
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 34rem;
  right: 8rem;
  padding: 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}
.brand-service-third {
  width: 250px;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 41rem;
  right: 20rem;
  padding: 10px 1.5rem;
  background-color: #292533;
  color: #a0aee5;
  border-radius: 10px;
  border: 1px solid rgba(161, 174, 229, 0.2);
}
.brand-section2 {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.brand-approach {
  width: 625px;
  align-items: center;
  gap: 60px;
  flex-shrink: 0;
  /* border: 2px solid red; */
}
.brand-approach h3 {
  color: #c7cfef;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}
.brand-approach h4 {
  color: #c7cfef;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 3rem 0;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 120% */
}
.brand-approach p {
  color: #c7cfef;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin: 1rem 0rem;
  line-height: 28.8px; /* 160% */
}
.brand-drawing {
  width: 100%;
}
.brand-bigLogo {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .brand-service-user {
    top: 21rem;
    right: 0rem;
  }
  .brand-service-subscription {
    top: 28rem;
    right: 2rem;
  }
  .brand-service-personlized {
    top: 33rem;
    right: 2rem;
  }
  .brand-service-graph {
    top: 40rem;
    right: 4rem;
  }
  .brand-service-third {
    top: 46rem;
    right: 5rem;
  }
  .brand-approach p {
    color: #c7cfef;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin: 1rem 0rem;
    line-height: 28.8px; /* 160% */
  }
}
@media screen and (max-width: 950px) {
  .brand-container {
    margin: 0;
    padding: 0;
  }
  .brand h1 {
    font-size: 3.5rem;
    width: 90vw;
    text-align: center;
    line-height: 60px; /* 100% */
    /* border: 2px solid red; */
  }
  .brand-intro {
    flex-direction: column;
    padding: 0 0 2rem;
  }
  .brand-all {
    display: none;
  }
  .brand-service-pix {
    width: 90vw;
    height: 40vh;
  }
  .brand-service-user,
  .brand-service-subscription,
  .brand-service-personlized,
  .brand-service-graph,
  .brand-service-third {
    position: static;
    visibility: hidden;
  }
  .brand-approach {
    width: 90vw;
    /* border: 2px solid red; */
    margin-left: 2rem;
  }
  .brand-bigLogo {
    display: none;
  }
}
