.have {
  background-image: url("../images/final1.png");
  width: 80%;
  height: 60vh;
  margin: 4rem auto;
  border-radius: 70px;
  background-color: blue;
  /* flex-shrink: 0; */
}
.haveeffe {
  background-image: url("../images/effect.png");
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
}
.haveeffe h4 {
  color: #c7cfef;
  font-family: "Inter", sans-serif;
  font-size: 41.666px;
  font-style: normal;
  font-weight: 400;
  line-height: 85.53px; /* 126.034% */
}
.haveBB {
  border-radius: 56px;
  border: 1px solid rgba(161, 174, 229, 0.2);
  width: 138px;
  padding: 10px 5px;
  flex-shrink: 0;
  background-color: #a1aee533;
}
.have-bb {
  text-decoration: none;
  color: #c7cfef;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 950px) {
  .have {
    width: 90%;
    height: 50vh;
  }
  .haveeffe h4 {
    font-size: 21.666px;
  }
}
@media screen and (max-width: 747px) {
  .have {
    width: 90%;
    height: 30vh;
  }
  .haveeffe h4 {
    font-size: 21.666px;
  }
}
